---
layout: default
title: Home
---



<div id="container">
  <div id="row">

    <div id="left">
      <!--
      <h4>Left Col</h4>
      <p>j'ai meme bring Nath au Taekwondo recemment pour lui montrer comment on soigne quelques petits blancs</p>
    -->
    </div>

    <div id="middle">
      <div class="posts">
        {% for post in paginator.posts %}
        <div class="post">
          <h1 class="post-title">
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </h1>

          <span class="post-date">{{ post.date | date_to_string }}</span>

          {{ post.content }}
        </div>
        {% endfor %}
      </div>
      <div class="pagination">
        {% if paginator.next_page %}
          <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
        {% else %}
          <span class="pagination-item older">Older</span>
        {% endif %}
        {% if paginator.previous_page %}
          {% if paginator.page == 2 %}
            <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
          {% else %}
            <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
          {% endif %}
        {% else %}
          <span class="pagination-item newer">Newer</span>
        {% endif %}
      </div>
    </div>

    <div id="right">
      <h4> Feed </h4>
      <script type="text/javascript" src="http://feedjit.com/serve/?vv=1512&amp;tft=3&amp;dd=0&amp;wid=dda37b13ebb663297d387a8798e21606&amp;pid=0&amp;proid=0&amp;bc=FFFFFF&amp;tc=000000&amp;brd1=012B6B&amp;lnk=135D9E&amp;hc=FFFFFF&amp;hfc=2853A8&amp;btn=C99700&amp;ww=249&amp;wne=10&amp;srefs=0"></script><noscript><a href="http://feedjit.com/">Live Traffic Stats</a></noscript>
    </div>

  </div>
</div>